.btn{
  min-width: 100px;
  margin: 20px 20px;
}

.center{
    text-align: center;
}

hr {
  border-top : 1px solid #ccc;
}

.icon{
  display: inline-block;
  width:20px;
  height:20px;
}

.icon-delete{
  background:url("images/delete.png") no-repeat center;
}

.icon-edit{
  background:url("images/edit.png") no-repeat center;
}